<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <div class="percentage-off">
    {% if product.compare_at_price_max > product.price %}
    {% capture percentageOff %}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}{% endcapture %}
        {% assign number = percentageOff | plus:0 %}
    {% include 'svg-icons', svgId: number %}
    {% endif %}
  </div>
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>
  
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  
  
  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top: 100%;">
        <img id="{{ img_id }}"
        class="grid-view-item__image lazyload"
        alt="{{ product.title }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540]"
        data-aspectratio="{{ preview_image.aspect_ratio }}"
        data-sizes="auto"
        data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>
  
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>
  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title | truncate: '65' }}</div>
  <div class="price-divder"><span></span></div>
  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
</div>
