<div class="page-width">
  <div class="section-header text-center">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="flex_container direction_row form_container">
    <div class="left-grid">
      <div id="shopify-section-contact-info" class="shopify-section">
        <h2>You can reach out to us</h2>
        <h5>Do reach out to us</h5>
        <br>
        <h5>via call</h5>
        <p><a href="mailto:212-986-6096" aria-describedby="a11y-external-message">212-986-6096</a></p>
        <br>
        <h5>via Email</h5>
        <p>
          <a href="tel:customerservice@enchantedfinejewelry.com" aria-describedby="a11y-external-message">
            customerservice@enchantedfinejewelry.com
          </a>
        </p>
        <br>
        <h5>Timings</h5>
        <p>
          <a href="tel:Mon-Fri 9 AM to 6 PM EST" aria-describedby="a11y-external-message">
            Mon-Fri 9 AM to 6 PM EST
          </a>
        </p>
        <style>
          .main-content {
            background-image: url('//cdn.shopify.com/s/files/1/0267/0523/1943/files/Blue_Wash_BG.png?v=1577524738');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
      </div>
    </div>
    <div class="right-grid">
      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>

          <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

        {% endform %}
      </div>
    </div>
  </div>
</div>
