{% assign pagination_type = section.settings.pagination_type %}
{% assign no_products_image = section.settings.no_products_image %}
{% assign empty_collection_text = section.settings.empty_collection_text %}
{% assign enable_collection_sorting = section.settings.enable_collection_sorting %}
{% assign show_collection_breadcrumb = section.settings.show_collection_breadcrumb %}
{% assign show_collection_description = section.settings.show_collection_description %}

<!-- Metafield banners start -->
{% assign coll_halfbanner = collection.metafields.global.header_banner_small %}
{% assign coll_mainbanner = collection.metafields.global.header_banner_main %}
{% assign coll_mobilebanner = collection.metafields.global.header_banner_mobile %}
<!-- Metafield banners end -->

{% assign show_pagination = false %}
{% if pagination_type != 'infinite_scroll' %}
{% assign show_pagination = true %}
{% endif %}

<section data-section-id="{{ section.id }}" data-section-type="mm-collection-template" class="mm-collection">
  <div class="collection_breadcrumb">
    {% render 'breadcrumbs' %}
  </div>
  
  {% if show_collection_breadcrumb %}
  <div class="row mm-collection-breadcrumb">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="Home">Home</a>  
        {% if template contains 'collection' and collection.handle %}
        <span aria-hidden="true"></span>
        {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        <span aria-hidden="true"></span>
        <span>{{ current_tags | join: " + " }}</span>
        {% else %}
        <span>{{ collection.title }}</span>
        {% endif %}
        {% endif %}
      </nav>
    </div>
  </div>
  {% endif %}
  
  <div class="mm-collection-banner mm-collection-page-width">
    {% comment %}

    <!-- commented for replacing First10 with New10 discount code -->

    {% if collection.handle contains 'birthstone' %}
    <div class="image-container bespoke">
      <div class="small-image small--hide">
        <img class="small--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/purple_2x_434c689e-dd0a-4fbd-99da-994b00b0e4f3.png?v=1621487185" alt="{{ collection.title }} offer banner" data-sizes="auto">
      </div>
      <div class="bigger-image">
        <img class="small--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/half_banner_birthstone_1.jpg?v=1620818547" alt="{{ collection.title }} desktop" data-sizes="auto">
        <img class="medium-up--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/birthstone_mobile.png?v=1620748779" alt="{{ collection.title }} mobile" data-sizes="auto">
      </div>
    </div>
    {% else %}

    {% endif %}
    <!-- commented for replacing First10 with New10 discount code -->
    {% endcomment %}
    <div class="image-container {% if collection.title contains 'Jewelili Bespoke' %}bespoke{% endif %}">
      {% if coll_halfbanner != blank %}
      <div class="small-image small--hide">
        <img class="small--hide lazyload" data-src="{{ coll_halfbanner }}" alt="{{ collection.title }}" data-sizes="auto">
        <!-- Image Resolution : 311X280 px -->
      </div>
      {% endif %}
      <div class="{% if coll_halfbanner != blank %}bigger-image {% else %}full-sized_image{% endif %}"> 
        {% if coll_mainbanner != blank %}
        <img class="small--hide lazyload" data-src="{{ coll_mainbanner }}" alt="{{ collection.title }}" data-sizes="auto">
        {% else %}
        <a id="PreBlackFridayBannerOP" href="/collections/pre-black-friday-sale"><img class="small--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/Web_Desktop__1350x_320__BLACK_FRIDAY.jpg?v=1634879235" alt="{{ collection.title }}" data-sizes="auto"></a>
        {% endif %}
        {% if coll_mobilebanner != blank %}
        <img class="medium-up--hide lazyload" data-src="{{ coll_mobilebanner }}" alt="{{ collection.title }}" data-sizes="auto">
        {% else %}
        <a id="PrwBlackFridayBannerOP_mob" href="/collections/pre-black-friday-sale"><img class="medium-up--hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/W766xH799__black_Sale_N_1.jpg?v=1634879449" alt="{{ collection.title }}" data-sizes="auto"></a>
        {% endif %}
        <!-- Image Resolution Desktop : 882X280 px -->
        <!-- Image Resolution Mobile : 828X378 px -->
        
        <!-- Full sized Image Resolution Desktop : 1350X320 px -->
        <!-- Full sized Image Resolution Mobile : 600X260 px -->
      </div>
      
      {% comment %}
      {% if collection.metafields.global.collection_banner != blank %}
      <img src="{{ collection.metafields.global.collection_banner }}" alt="{{ collection.title }}" class="small--hide">
      <img src="{{ collection.metafields.global.collection_mobile_banner }}" alt="{{ collection.title }}" class="medium-up--hide">
      {% else %}
      {% if collection.handle == 'swarovski' or collection.handle == 'enchanted-disney-fine-jewelry' or collection.handle == 'made-for-you' %}
      <img src="{{ collection.image | img_url:"master" }}" alt="{{ collection.title }}" class="sss">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0252/9620/7926/collections/CategoryBanner_d990302e-dc87-4a52-bc1f-63139fea734d.jpg?v=1605074165" alt="{{ collection.title }}" class="small--hide">
      {% if collection.handle == 'all-discounts' %}
      <img src="//cdn.shopify.com/s/files/1/0252/9620/7926/files/mobile-banner-test.png?v=1606030489" alt="{{ collection.title }}" class="medium-up--hide">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0252/9620/7926/files/all_jewelry_mob_v_wt.png?v=1605094905" alt="{{ collection.title }}" class="medium-up--hide">
      {% endif %}
      <div class="mm-collection-title {% if collection.handle == 'all-discounts' %}hide{% endif %}">
        <h2>{{ collection.title }}</h2>
      </div>
      {% endif %}
      {% endif %}
      {% endcomment %}
    </div>

  </div>
  <style>
    .mm-collection-banner {
      background-image: url("{{ collection.metafields.img.collection_desktop_banner }}");
      background-position: right top;
      background-color: #e7def2;
      background-size: cover;
    }
    @media (max-width: 768px) {
      .mm-collection-banner {
        background-image: url("{{ collection.metafields.img.collection_mobile_banner }}");
        background-position: center center;
        background-size: cover;
      }
    }
  </style>
  
  <div class="mm-collection-page-width">
    <div class="row mm-sticky-block">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div id="sidebar-filter">          
          <div class="mm-filter-sidebar mm-sticky-sidebar">          
            <div class="mm-sticky-inner">
              {% include 'mm-filter-sidebar' %}
              
              {% comment %}
              {% if enable_collection_sorting %}
              <div class="mm-sort-content">
                <div class="mm-filter-heading">
                  <h4><span class="heading-name">Sort By</span></h4>
                </div>
                <select id="ajaxSort" class="sort-wrapper">
                  <option value="best-selling">Best Selling</option>
                  <option value="price-ascending">Price: Low to High</option>
                  <option value="price-descending">Price: High to Low</option>                
                  <option value="title-ascending">Alphabetically: A-Z</option>
                  <option value="title-descending">Alphabetically: Z-A</option>
                  <option value="created-descending">Date: New to Old</option>
                  <option value="created-ascending">Date: Old to New</option>
                </select>
              </div>
              {% endif %}
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">    
        <div class="collectionTitle">
          <h1>{{ collection.title }}</h1>
        </div>
        {% if collection.handle contains 'birthstone' %}
        {% include 'birthstone_coll_content' %}     
        {% endif %}       
        <div class="mm-product-header main_header">
          {% if section.settings.sidebar_filter_heading %}
          {% assign sidebar_filter_heading = section.settings.sidebar_filter_heading %}
          {% else %}
          {% assign sidebar_filter_heading = 'Filter By' %}
          {% endif %}
          
          <div class="mm-filter-btn">
            <button class="mm-button" id="sidebar-filter-opener">
              <svg width="18px" height="16px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 60 71" id="Layer_1" version="1.1" viewBox="0 0 60 71" xml:space="preserve"><g><path d="M57,32h-2.581c-1.374-3.881-5.067-6.667-9.419-6.667S36.955,28.119,35.581,32H3c-1.657,0-3,1.343-3,3   c0,1.656,1.343,3,3,3h32.371c1.168,4.227,5.031,7.334,9.629,7.334s8.461-3.107,9.629-7.334H57c1.657,0,3-1.344,3-3   C60,33.343,58.657,32,57,32z" fill="#231F20"/><path d="M57,58H24.419c-1.374-3.881-5.067-6.666-9.419-6.666S6.955,54.119,5.581,58H3c-1.657,0-3,1.344-3,3   s1.343,3,3,3h2.371c1.168,4.227,5.031,7.334,9.629,7.334s8.461-3.107,9.629-7.334H57c1.657,0,3-1.344,3-3S58.657,58,57,58z" fill="#231F20"/><path d="M3,13h2.371c1.168,4.227,5.031,7.333,9.629,7.333s8.461-3.107,9.629-7.333H57c1.657,0,3-1.343,3-3   s-1.343-3-3-3H24.419C23.045,3.119,19.352,0.333,15,0.333S6.955,3.119,5.581,7H3c-1.657,0-3,1.343-3,3S1.343,13,3,13z" fill="#231F20"/></g></svg>
              {{ sidebar_filter_heading }}
            </button>
          </div>
          
          {% if enable_collection_sorting %}
          <div class="mm-sort-content">
            <div class="mm-filter-heading">
              <h4><span class="heading-name">Sort By</span></h4>
            </div>
            <select id="ajaxSort" class="sort-wrapper">
              <option value="best-selling">Best Selling</option>
              <option value="price-ascending">Price: Low to High</option>
              <option value="price-descending">Price: High to Low</option>                
              <option value="title-ascending">Alphabetically: A-Z</option>
              <option value="title-descending">Alphabetically: Z-A</option>
              <option value="created-descending">Date: New to Old</option>
              <option value="created-ascending">Date: Old to New</option>
            </select>
          </div>
          {% endif %}
          
          <div class="mm-product-header sub_header">
            <p class="product_count"></p>
          </div>
        </div>
        
        <div class="product-container">
          <div id="product-loop" class="row"></div>
          <div class="no-products" 
          id="empty-products" 
          style="display: none;">
          {% if no_products_image != nil %}
          <img class="lazyload" data-src="{{ no_products_image | img_url: '150x' }}" alt="Empty Collection Image" data-sizes="auto">
          {% endif %}
          {% if empty_collection_text != blank %}
          <p>{{ empty_collection_text }}</p>
          {% else %}
          <p>We are sorry, no products match your filter selections. Please adjust them further.</p>
          {% endif %}
        </div>
        
        <div class="mm-pagination" {% if show_pagination == false %}style="opacity: 0;"{% endif %}>
          <div id="mm-pagination-holder"></div>
        </div>          
      </div>
    </div>
  </div>
</div>
</section>

{% include 'mm-filter-content' %}

{% schema %}
{
  "name": "Collection Page",
  "settings": [
  {
    "type": "header",
    "content": "Heading and Description"
  },
  {
    "type": "checkbox",
    "id": "show_collection_description",
    "label": "Show collection description",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_collection_breadcrumb",
    "label": "Show breadcrumb links",
    "default": true
  },
  {
    "type": "header",
    "content": "Product Layout"
  },
  {
    "type": "checkbox",
    "id": "show_product_vendor",
    "label": "Show Vendor",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_sale_badge",
    "label": "Show Sale Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "sale_badge_text",
    "label": "Sale Badge Text",
    "default": "Sale"
  },
  {
    "type": "checkbox",
    "id": "show_soldout_badge",
    "label": "Show Soldout Badge",
    "default": true
  },
  {
    "type": "text",
    "id": "soldout_badge_text",
    "label": "Soldout Badge Text",
    "default": "Soldout"
  },
  {
    "type": "header",
    "content": "Empty Collection"
  },
  {
    "type": "image_picker",
    "id": "no_products_image",
    "label": "Empty Collection Image"
  },
  {
    "type": "textarea",
    "id": "empty_collection_text",
    "label": "Empty Collection Text",
    "default": "We are sorry, no products match your filter selections. Please adjust them further."
  },
  {
    "type": "header",
    "content": "Pagination"
  },
  {
    "type": "select",
    "id": "pagination_type",
    "label": "Pagination Type",
    "options": [
    {
      "value": "basic_pagination",
      "label": "Page Links"
    },
    {
      "value": "infinite_scroll",
      "label": "Infinite Scroll"
    }
    ]
  },
  {
    "type": "range",
    "id": "pagination_limit_template1",
    "label": "Products per page (Collections Page)",
    "min": 3,
    "max": 45,
    "step": 1,
    "default": 15
  },
  {
    "type": "range",
    "id": "pagination_limit_template2",
    "label": "Products per page (Brands Page)",
    "min": 3,
    "max": 45,
    "step": 1,
    "default": 15
  },
  {
    "type": "header",
    "content": "Filter Sidebar"
  },	  
  {
    "type": "checkbox",
    "id": "show_filter_heading",
    "label": "Show Filter Heading",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_sticky_sidebar",
    "label": "Enable Sticky Sidebar",
    "default": false
  },
  {
    "type": "text",
    "id": "sidebar_filter_heading",
    "label": "Heading",
    "default": "Filter By"
  },
  {
    "type": "select",
    "id": "mobile_sidebar_style",
    "label": "Mobile Sidebar Style",
    "options": [
    {
      "value": "from_down",
      "label": "Open From Down"
    },
    {
      "value": "from_side",
      "label": "Open From Side"
    }
    ]
  },
  {
    "type": "header",
    "content": "Collection Sorting"
  },
  {
    "type": "checkbox",
    "id": "enable_collection_sorting",
    "label": "Enable Collection Sorting",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_product_count",
    "label": "Show product count",
    "default": true
  },
  {
    "type": "header",
    "content": "Brand Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter",
    "label": "Enable Brand Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_brand_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for brand filter, which will help user to search brands.",
    "default": true
  },
  {
    "type": "text",
    "id": "brand_filter_heading",
    "label": "Heading",
    "default": "Brand"
  },
  {
    "type": "header",
    "content": "Product Type Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter",
    "label": "Enable Product Type Filter",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_pt_filter_search",
    "label": "Enable Search Box",
    "info": "This will show search box for product type filter, which will help user to search product types.",
    "default": true
  },
  {
    "type": "text",
    "id": "pt_filter_heading",
    "label": "Heading",
    "default": "Product Type"
  },
  {
    "type": "header",
    "content": "Price Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_price_filter",
    "label": "Enable Price Filter",
    "default": true
  },
  {
    "type": "text",
    "id": "price_filter_heading",
    "label": "Heading",
    "default": "Price"
  },
  {
    "type": "textarea",
    "id": "price_ranges",
    "label": "Price Range",
    "default": "0-500,500-1000,1000-2000,2000-3000,3000-100000"
  },
  {
    "type": "checkbox",
    "id": "price_range_slider",
    "label": "Enable Price Slider",
    "default": false
  },
  {
    "type": "header",
    "content": "Size Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter",
    "label": "Enable Size Filter",
    "info": "Sizes will appear only when products has the size variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_size_filter_swatch",
    "label": "Enable Size Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "size_filter_heading",
    "label": "Heading",
    "default": "Size"
  },
  {
    "type": "header",
    "content": "Color Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter",
    "label": "Enable Color Filter",
    "info": "Colors will appear only when products has the color variant.",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_color_filter_swatch",
    "label": "Enable Color Swatch",
    "default": true
  },
  {
    "type": "text",
    "id": "color_filter_heading",
    "label": "Heading",
    "default": "Color"
  },
  {
    "type": "header",
    "content": "Tag Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_tag_filter",
    "label": "Enable Tag Filter",
    "info": "Add tag filters in sidebar by adding content blocks.",
    "default": true
  },
  {
    "type": "header",
    "content": "Multi-level Filter"
  },
  {
    "type": "checkbox",
    "id": "enable_multilevel_filter",
    "label": "Enable Multi Level Filter",
    "default": true
  },
  {
    "type": "paragraph",
    "content": "Add tag in to the products to activate multi level filters. Syntax: mf___First Level__Second Level--Tag"
  }
  ],
  "blocks": [
  {
    "type": "tag_filters",
    "name": "Tag Filter",
    "settings": [
    {
      "type": "text",
      "id": "filter_name",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "filter_tags",
      "label": "Tags",
      "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters."
    }
    ]
  }
  ]
}
{% endschema %}