<section class="page-width review-sldier-section">
  {% if section.settings.heading != blank %}
  <div class="section-header header-title-wrapper">
    {% if section.settings.heading != blank %}
    <h2 class="header--main-heading">{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="review-slider">
    {% for block in section.blocks %}
    <div class="grid">
      <div class="grid__item grid__item--{{ block.id }}">
        <div>
          <div class="review-rating">
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.62601 1.53047C9.92749 0.613638 11.2244 0.613637 11.5259 1.53047L13.3186 6.98218C13.4536 7.39249 13.8367 7.6698 14.2686 7.6698H20.0442C21.0158 7.6698 21.4167 8.91552 20.6274 9.48215L15.9755 12.8217C15.6208 13.0763 15.4723 13.5317 15.6087 13.9464L17.3904 19.3647C17.6927 20.2839 16.6434 21.0537 15.8573 20.4894L11.1591 17.1167C10.8106 16.8665 10.3413 16.8665 9.99279 17.1167L5.29463 20.4894C4.50858 21.0537 3.45923 20.2839 3.76149 19.3647L5.54321 13.9464C5.6796 13.5317 5.53112 13.0763 5.17643 12.8217L0.524534 9.48215C-0.264758 8.91552 0.136088 7.6698 1.10771 7.6698H6.88334C7.31526 7.6698 7.69837 7.39249 7.8333 6.98218L9.62601 1.53047Z" fill="#b14a6b"></path></svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.62601 1.53047C9.92749 0.613638 11.2244 0.613637 11.5259 1.53047L13.3186 6.98218C13.4536 7.39249 13.8367 7.6698 14.2686 7.6698H20.0442C21.0158 7.6698 21.4167 8.91552 20.6274 9.48215L15.9755 12.8217C15.6208 13.0763 15.4723 13.5317 15.6087 13.9464L17.3904 19.3647C17.6927 20.2839 16.6434 21.0537 15.8573 20.4894L11.1591 17.1167C10.8106 16.8665 10.3413 16.8665 9.99279 17.1167L5.29463 20.4894C4.50858 21.0537 3.45923 20.2839 3.76149 19.3647L5.54321 13.9464C5.6796 13.5317 5.53112 13.0763 5.17643 12.8217L0.524534 9.48215C-0.264758 8.91552 0.136088 7.6698 1.10771 7.6698H6.88334C7.31526 7.6698 7.69837 7.39249 7.8333 6.98218L9.62601 1.53047Z" fill="#b14a6b"></path></svg>          
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.62601 1.53047C9.92749 0.613638 11.2244 0.613637 11.5259 1.53047L13.3186 6.98218C13.4536 7.39249 13.8367 7.6698 14.2686 7.6698H20.0442C21.0158 7.6698 21.4167 8.91552 20.6274 9.48215L15.9755 12.8217C15.6208 13.0763 15.4723 13.5317 15.6087 13.9464L17.3904 19.3647C17.6927 20.2839 16.6434 21.0537 15.8573 20.4894L11.1591 17.1167C10.8106 16.8665 10.3413 16.8665 9.99279 17.1167L5.29463 20.4894C4.50858 21.0537 3.45923 20.2839 3.76149 19.3647L5.54321 13.9464C5.6796 13.5317 5.53112 13.0763 5.17643 12.8217L0.524534 9.48215C-0.264758 8.91552 0.136088 7.6698 1.10771 7.6698H6.88334C7.31526 7.6698 7.69837 7.39249 7.8333 6.98218L9.62601 1.53047Z" fill="#b14a6b"></path></svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.62601 1.53047C9.92749 0.613638 11.2244 0.613637 11.5259 1.53047L13.3186 6.98218C13.4536 7.39249 13.8367 7.6698 14.2686 7.6698H20.0442C21.0158 7.6698 21.4167 8.91552 20.6274 9.48215L15.9755 12.8217C15.6208 13.0763 15.4723 13.5317 15.6087 13.9464L17.3904 19.3647C17.6927 20.2839 16.6434 21.0537 15.8573 20.4894L11.1591 17.1167C10.8106 16.8665 10.3413 16.8665 9.99279 17.1167L5.29463 20.4894C4.50858 21.0537 3.45923 20.2839 3.76149 19.3647L5.54321 13.9464C5.6796 13.5317 5.53112 13.0763 5.17643 12.8217L0.524534 9.48215C-0.264758 8.91552 0.136088 7.6698 1.10771 7.6698H6.88334C7.31526 7.6698 7.69837 7.39249 7.8333 6.98218L9.62601 1.53047Z" fill="#b14a6b"></path></svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.62601 1.53047C9.92749 0.613638 11.2244 0.613637 11.5259 1.53047L13.3186 6.98218C13.4536 7.39249 13.8367 7.6698 14.2686 7.6698H20.0442C21.0158 7.6698 21.4167 8.91552 20.6274 9.48215L15.9755 12.8217C15.6208 13.0763 15.4723 13.5317 15.6087 13.9464L17.3904 19.3647C17.6927 20.2839 16.6434 21.0537 15.8573 20.4894L11.1591 17.1167C10.8106 16.8665 10.3413 16.8665 9.99279 17.1167L5.29463 20.4894C4.50858 21.0537 3.45923 20.2839 3.76149 19.3647L5.54321 13.9464C5.6796 13.5317 5.53112 13.0763 5.17643 12.8217L0.524534 9.48215C-0.264758 8.91552 0.136088 7.6698 1.10771 7.6698H6.88334C7.31526 7.6698 7.69837 7.39249 7.8333 6.98218L9.62601 1.53047Z" fill="#b14a6b"></path></svg>
          </div>
          {% if block.settings.title != blank %}
          <p class="title">{{block.settings.title}}</p>
          {% endif %}
          {% if block.settings.review != blank %}
          <p class="review">{{block.settings.review}}</p>
          {% endif %}
        </div>
        <div>
          {% if block.settings.name != blank %}<p class="name">{{ block.settings.name }}</p>{% endif %}
          {%- assign product = all_products[block.settings.product_link] -%}
          {% if block.settings.profession != blank %}<p class="purchase_text">Purchased : <a href="{{ product.url }}">{{ block.settings.profession }}</a></p>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>



{% schema %}
{
  "name": "Review Sldier section",
  "class": "index-section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "Heading"
  }
  ],
  "blocks": [
  {
    "type": "text_block",
    "name": "Text Block",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "review",
      "label": "Review"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "text",
      "id": "profession",
      "label": "Purchased text"
    },
    {
      "type": "product",
      "id": "product_link",
      "label": "Product link"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Review Slider ",
    "category": "text"
  }
  ]
}
{% endschema %}
